<!--Header Image -->
<div class="page-header page-header-small">
  <div class="page-header-image" data-parallax="false" style="background-image: url('https://www.siteminder.com/wp-content/uploads/2015/07/TRAVELLERS_GROUP_istock.jpg'); transform: translate3d(0px, 0px, 0px);">
  </div>

  <!-- Intinerary Header -->
  <div class="content-center">
    <div class="row">
      
    </div>
  </div>
</div>