<li class="nav-item" data-sort="<%= itinerary.date %>">
  <a class="nav-link <%= itinerary_iteration.first? ? "active show" : "" %>" data-toggle="tab" href="#<%= itinerary.id %>" role="tab" aria-selected="true"><%= itinerary.name %></a>
</li>
