<% itinerary = @itinerary %>
<li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#<%= itinerary.id %>" role="tab" aria-selected="true" data-sorted="<%= itinerary.date %>"><%= itinerary.name %></a>
</li>
