<div class="page-header page-header-small">
  <div class="page-header-image" data-parallax="true" style="background-image: url('https://www.siteminder.com/wp-content/uploads/2015/07/TRAVELLERS_GROUP_istock.jpg'); transform: translate3d(0px, 0px, 0px)"></div>
  <div class="content-center">
    <div class="container">
      <h1 class="title"><%= @trip.name %></h1>
      <p><%= @trip.start_date.to_formatted_s(:long) %> - <%= @trip.end_date.to_formatted_s(:long) %></p>
    </div>
  </div>
</div>
