<%= render "layouts/user_header" %>
<main>
  <div class="container">
    <div data-channel="UserChannel" data-id="<%= current_user.id %>" data-event="created_trip" data-action="append" data-url="<%= trip_path('${}', format: :cable) %>">
      <%= render @user.trips.order(start_date: :desc) %>
    </div>
  </div>
</main>
