<%= render "new_trip_header" %>


<div class="section">
<div class="card card-risen pt-3 mt-3 pl-5 ml-1 pr-5 mr-1 pb-4 ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Create a new trip:
        </h3>
          <section class="new-trip-container">
            <%= render "new_trip" %>
          </span>
        </div>
      </div >
    </div>
  </div>
</div>


<% if false %>
<% if current_user %>

<% else %>

  <section class="trip-login">
    <p> Log in to start planning your trip. </p>
  </section>

<% end %>
<% end %>

