<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Tripper - Sign up and begin your next adventure today! </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="./assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/stylesheets/now-ui-kit.css?v=1.2.0" rel="stylesheet">
</head>

<body>
  <div class="header-2" style="background-image: url('<%=image_path('img/bg11.jpg')%>')">

  <div class="page-header header-filter">
    <%# <div class="page-header-image" style="background-image: url('<%=image_path('img/bg11.jpg')%>')"> %>
    <%# </div> %>
    
    <div class="content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h1 class="title">Welcome to Tripper!</h1>
              <h5 class="description">"Join our community blh blah blah blah blah blh blah blah blah blahblh blah blah blah blahblh blah blah blah blahblh blah blah blah blahblh blah blah blah blah blah blahb blh blah blah blah blah blah blahb blh blah blah blah blah blah blahb "</h5>
          </div>
        <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-raised card-form-horizontal card-plain" data-background-color>
          <div class="card-body">
            <form method action>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" value placeholder="First Name" class="form-control">
                  </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" value placeholder="Last Name" class="form-control">
                  </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="email" value placeholder="Your Email" class="form-control">
                  </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="password" value placeholder="Password" class="form-control">
                  </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary btn-round btn-block">Sign Up!
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <br >
  <br >
  <br >

</body>

</html>

