<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Tripper - Sign up and begin your next adventure today! </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="./assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/stylesheets/now-ui-kit.css?v=1.2.0" rel="stylesheet">
</head>

<body>
  <div class="header-2" style="background-image: url('<%=image_path('img/bg11.jpg')%>')">
    <nav class="navbar navbar-expand-lg navbar-transparent bg-primary navbar-absolute">
      <div class="container">
          <div class="navbar-translate">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
              </button>
              <a class="navbar-brand" href="#pablo">Tripper</a>
          </div>
          <div class="collapse navbar-collapse" id="example-navbar-primary" data-nav-image="./assets/img/blurred-image-1.jpg">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#pablo">
                          Home
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#pablo">
                          About Us
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#pablo">
                          Contact Us
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>

    <div class="page-header header-filter">
      <%# <div class="page-header-image" style="background-image: url('<%=image_path('img/bg11.jpg')%>')"> %>
      <%# </div> %>
      
      <div class="content-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h1 class="title">Welcome to Tripper!</h1>
                <h5 class="description">"Join our community blh blah blah blah blah blh blah blah blah blahblh blah blah blah blahblh blah blah blah blahblh blah blah blah blahblh blah blah blah blah blah blahb blh blah blah blah blah blah blahb blh blah blah blah blah blah blahb "</h5>
            </div>
          <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-raised card-form-horizontal card-plain" data-background-color>
            <div class="card-body">
              <form method action>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" value placeholder="First Name" class="form-control">
                    </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="text" value placeholder="Last Name" class="form-control">
                    </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="email" value placeholder="Your Email" class="form-control">
                    </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="password" value placeholder="Password" class="form-control">
                    </div>
                  <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-round btn-block">Sign Up!
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <br >
    <br >
    <br >
    
    <footer class="fixed-bottom">
      <div class="container">
        <nav>
          <div class="copyright">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Designed by Daniel Amiri-Fear, Gioanna Rheumer & Negar Amiri (using Now UI Kit by Creative Tim).
          </div>
        </nav>
      </div>
    </footer>

</body>


<!--   Core JS Files   -->
<script src="./assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="./assets/js/plugins/moment.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="./assets/js/plugins/bootstrap-switch.js"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="./assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="./assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="./assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="./assets/js/plugins/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initContactUsMap();
    });
</script>

</html>

