
<div class="header-2" style="background-image: url('<%=image_path('img/bg11.jpg')%>')">
  <div class="page-header header-filter">
    <div class="content-center">
      <div class="container">
        <div class="row">

          <div class="col-md-8 ml-auto mr-auto text-center">
            <h1 class="title">Welcome to Tripper!</h1>
              <h5 class="description">"Join our community blh blah blah blah blah blh blah blah blah blahblh blah blah blah blahblh blah blah blah blahblh blah blah blah blahblh blah blah blah blah blah blahb blh blah blah blah blah blah blahb blh blah blah blah blah blah blahb "</h5>
          </div>
          
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-raised card-form-horizontal card-plain" data-background-color="">
              <div class="card-body">
                <form method="" action="">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" value="" placeholder="First Name" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" value="" placeholder="Last Name" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="email" value="" placeholder="Your Email" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="password" value="" placeholder="Password" class="form-control">
                      </div>
                    </div>

                    <div class="card-body">
                      <div class="d-flex justify-content-center">
                        <div class="col-md-3">
                          <button type="button" class="btn btn-primary btn-round btn-block">Join Us</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


