<div class="signup-page">
  <div class="page-header section-image">
    <div class="page-header-image" style="background-image:url(../assets/img/bg18.jpg)"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ml-auto mr-auto">

              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="fas fa-user-friends"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Grab your friends</h5>
                    <p class="description">
                      Tripper is a celebration in collaboration. Grab your friends and plan you next adventure together!
                    </p>
                </div>
              </div>

                <div class="info info-horizontal">
                  <div class="icon icon-primary">
                    <i class="fas fa-suitcase"></i>
                  </div>
                  <div class="description">
                    <h5 class="info-title">Pack your suticase</h5>
                      <p class="description">
                        We've made planning your itinerary as easy as pie. So you can spend more time enjoying your vacation.
                      </p>
                  </div>
                </div>

                <div class="info info-horizontal">
                  <div class="icon icon-info">
                    <i class="fas fa-plane-departure"></i>
                  </div>
                  <div class="description">
                    <h5 class="info-title">Begin your adventure</h5>
                      <p class="description">
                       Your time is precious. Plan ahead with Tripper and spend less time wonder what to do, and more time wondering the world.
                      </p>
                  </div>
                </div>
            </div>

            <div class="col-md-4 mr-auto">
              <div class="card card-signup">
                <div class="card-body">
                  <h4 class="card-title text-center">Register</h4>
                      <div class="social text-center">
                        <button class="btn btn-icon btn-round btn-twitter">
                          <i class="fab fa-twitter"></i>
                        </button>
                        <button class="btn btn-icon btn-round btn-dribbble">
                          <i class="fab fa-dribbble"></i>
                        </button>
                        <button class="btn btn-icon btn-round btn-facebook">
                          <i class="fab fa-facebook-f"></i>
                        </button>
                        <h5 class="card-description"> or be old school </h5>
                      </div>

                      <form class="form" method="" action="">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                           </div>
                          <input type="text" class="form-control" placeholder="First Name...">
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Last Name...">
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Your Email...">
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                          </div>
                          <input type="password" class="form-control" placeholder="Your Password">
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                          </div>
                          <input type="password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                              <span class="form-check-sign"></span>
                                I agree to the terms and
                              <a href="#something">conditions</a>.
                          </label>
                        </div>
                        <div class="card-footer text-center">
                          <a href="#pablo" class="btn btn-primary btn-round btn-lg">Get Started</a>
                        </div>
                      </form>
                    </div>
                  </div>
                 </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
