<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey! Join me in planning our trip.</h1>
    <p>@invite.message</p>
    <p>Join now: new_user_registration_path(invite_token: @invite.token)</p>
  </body>
</html>