<div id="carouselExampleIndicators" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    </ol>
    <div class="cities-carousel carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('<%=image_path('img/traveller1.jpg')%>')"></div>
                <div class="content-center">
                    <div class="container text-left">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Plan your day like magic.</h1>
                                    <h4 class="description ">Tripper makes it easier than ever to plan, organise and collaborate your vacations with friends. Spend more time exploring and less time planning. Let's make travelling a breeze!</h4>
                                        <br>
                                        <div class="buttons">
                                        <a href="#cities" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('<%=image_path('img/traveller2.jpg')%>')"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Grab your friends!</h1>
                                    <h4 class="description ">Tripper is a collaborative app that allows you and your friends to plan your next vacation together! </h4>
                                        <br>
                                        <div class="buttons">
                                        <a href="#cities" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('<%=image_path('img/traveller3.jpg')%>')"></div>
                <div class="content-center">
                    <div class="container">
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <h1 class="title">Discover new hotspots.</h1>
                                    <h4 class="description ">All the attractions are curated by local experts so you're never missing out on the local hangouts.</h4>
                                    <br>
                                    <div class="buttons">
                                        <a href="#cities" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
