<div class="card card-plain card-blog city-card">
  <%= link_to city do %>
  <div class="card-image">
    <%= image_tag image_path(city.image, alt: city.name, class: 'img rounded img-raised') %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= city.name %></a></h5>
    <% end %>
    <p class="card-description"><%= city.description %></p>
  </div>
</div>


