<div class="header-3">
  <%= render 'carousel' %>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-10 ml-auto mr-auto">
      <h2 class="title">Select a City</h2>
      <br />
    </div>
  </div>

  <div class="col-md-12 ml-auto mr-auto">
    <div class="card-deck-wrapper">
    <div class="card-deck">
      <%= render @cities %>
    </div>
    </div>
  </div>
</div>


