<div class="header-3">
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#pablo">Tripper</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-primary" data-nav-image="./assets/img/blurred-image-1.jpg">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        Your Itinaries
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#pablo">
                    Sign Out
                  </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

  <div id="carouselExampleIndicators" class="carousel slide">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item">
              <div class="page-header header-filter">
                  <div class="page-header-image" style="background-image: url('<%=image_path('img/bg14.jpg')%>')"></div>
                  <div class="content-center">
                      <div class="container text-left">
                          <div class="content-center">
                              <div class="row">
                                  <div class="col-md-6 text-left">
                                      <h1 class="title">Arctic Sea ice.</h1>
                                      <h4 class="description ">According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h4>
                                        <br>
                                        <div class="buttons">
                                          <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                          </a>
                                        </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="page-header header-filter">
                  <div class="page-header-image" style="background-image: url('<%=image_path('img/bg15.jpg')%>')"></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="content-center">
                              <div class="row">
                                  <div class="col-md-6 text-left">
                                      <h1 class="title">Arctic Sea ice.</h1>
                                      <h4 class="description ">According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h4>
                                        <br>
                                        <div class="buttons">
                                          <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item active">
              <div class="page-header header-filter">
                  <div class="page-header-image" style="background-image: url('<%=image_path('img/bg22.jpg')%>')"></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="content-center">
                              <div class="row">
                                  <div class="col-md-6 text-left">
                                      <h1 class="title">Arctic Sea ice.</h1>
                                      <h4 class="description ">According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h4>
                                      <br>
                                      <div class="buttons">
                                        <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                        </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="page-header header-filter">
                  <div class="page-header-image" style="background-image: url('<%=image_path('img/bg4.jpg')%>')"></div>
                  <div class="content-center">
                      <div class="container">
                          <div class="content-center">
                              <div class="row">
                                  <div class="col-md-6 text-left">
                                      <h1 class="title">Arctic Sea ice.</h1>
                                      <h4 class="description ">According to the National Oceanic and Atmospheric Administration, Ted Scambos, NSIDC lead scientist, puts the potentially record low maximum sea ice extent this year down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h4>
                                        <br>
                                        <div class="buttons">
                                          <a href="#pablo" class="btn btn-primary btn-lg"> Begin
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <%# <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="now-ui-icons arrows-1_minimal-left"></i>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="now-ui-icons arrows-1_minimal-right"></i>
      </a> %>
  </div>
</div>

<div class="blogs-2" id="blogs-2">
<div class="container">
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <h2 class="title">Select a City</h2>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card card-plain card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised rounded" src="assets/img/examples/city_london2.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#pablo">London, United Kingdom</a>
                            </h5>
                            <p class="card-description">
                                London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times. At its centre stand the imposing Houses of Parliament, the iconic ‘Big Ben’ clock tower and Westminster Abbey. Across the Thames River, the London Eye observation wheel provides panoramic views of the entire city.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card card-plain card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised rounded" src="assets/img/examples/city_vancouver2.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#pablo">Vancouver, Canada</a>
                            </h5>
                            <p class="card-description">
                                Vancouver, a bustling west coast seaport in British Columbia, is among Canada’s densest, most ethnically diverse cities. A popular filming location, it’s surrounded by mountains, and also has thriving art, theatre and music scenes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card card-plain card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised rounded" src="assets/img/examples/city_montreal2.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#pablo">Montreal, Canada</a>
                            </h5>
                            <p class="card-description">
                                Montréal is the largest city in Canada's Québec province. It’s set on an island in the Saint Lawrence River and named after Mt. Royal, the triple-peaked hill at its heart. Its boroughs, many of which were once independent cities, include neighbourhoods ranging from cobblestoned, French colonial Vieux-Montréal to bohemian Plateau.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card card-plain card-blog">
                        <div class="card-image">
                            <a href="#pablo">
                                <img class="img img-raised rounded" src="assets/img/examples/city_newyork.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">
                            <a href="#pablo">New York City, United States</a>
                          </h5>
                            <p class="card-description">
                                New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                  <div class="card card-plain card-blog">
                    <div class="card-image">
                      <a href="#pablo">
                        <img class="img img-raised rounded" src="assets/img/examples/city_LA.jpg">
                      </a>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        <a href="#pablo">Los Angeles, United States</a>
                      </h5>
                        <p class="card-description">
                           Los Angeles is a sprawling Southern California city and the center of the nation’s film and television industry. Near its iconic Hollywood sign, studios such as Paramount Pictures, Universal and Warner Brothers offer behind-the-scenes tours. On Hollywood Boulevard, TCL Chinese Theatre displays celebrities’ hand- and footprints, the Walk of Fame honors thousands of luminaries and vendors sell maps to stars’ homes.
                        </p>
                    </div>
                  </div>
              </div>

              <div class="col-md-5">
                <div class="card card-plain card-blog">
                  <div class="card-image">
                    <a href="#pablo">
                      <img class="img img-raised rounded" src="assets/img/examples/city_paris.jpg">
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="#pablo">Paris, France</a>
                    </h5>
                      <p class="card-description">
                          Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.
                      </p>
                  </div>
                </div>
              </div>

            </div>
        </div>
    </div>

  <!-- Copyright Footer -->
  <footer class="footer">
    <div class="row justify-content-center">
      <nav>
        <div class="copyright">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Designed by Daniel Amiri-Fear, Gioanna Rheumer & Negar Amiri (using Now UI Kit by Creative Tim).
        </div>
      </nav>
    </div>
  </footer>
</div>
</div>
