<div class="header-3">
  <%= render 'citycarousel' %>
</div>

<main>
  <article class="city-info">
    <%= render 'cityinfo' %>
  </article>

  <article class="attractions">
    <%= render 'attraction' %>
  </article>
</main>

<br />
<br />
<br />
<br />
<br />
