<div class="header-3">
  <%= render 'citycarousel' %>
</div>

<main>
  <article class="city-info">
    <%= render 'cityinfo' %>
  </article>


  <article class="attractions-container">
    <div class="attraction-hdr">Attractions</div>
    <%= render 'attractions/categories' %>
  </article>
</main>

