@import './now-ui-kit/variables';
// Place all the styles related to the Attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  display: flex;
  align-items: flex-start;
}

.reviews-col {
  display: flex;
  flex-direction: column;
  max-width: 66%;
  min-height: 40em;
  overflow: auto;
  align-items: flex-start;
}

.form-col {
  display: flex;
  flex-direction: column;
  min-height: 39em;
  max-width: 31%;
}

#noticeModal {
  height: 750px;
  width: auto;
  display: flex;
  align-items: flex-start;
}

.social-button {
  font-size: 2em;
}

.fa-star {
  font-size: 1em;
}

.review-delete {
padding-left: 26em;
}

.card-attraction-description {
  max-height: 10em;
  overflow: scroll;
}

.card-body h5 {
  font-size: 1.4em;
  max-height: 2em;
  white-space: nowrap;
  overflow-x: auto;
}

h5::-webkit-scrollbar {
  height: 1px;
}
