@import './now-ui-kit/variables';
// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-card {
  min-width: 20em;
}
.cities-carousel {
  border-radius: 0 !important;
}

main {
  display: flex;
  width: 100%;
}

.city-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  max-width: 25em;
  color: $white-color;
  padding: 3em;
}

.transit-button {
  background-color: $white-color;
  color: $primary-color;
}

.attractions-container {
  width: 100%;
}

.attractions-all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.attraction-hdr {
  display: flex;
  font-size: 3em;
  background-color: $primary-color;
  color: $white-color;
  padding: 0.3em 0 0.3em 2em;
  margin-bottom: 0.5em;
}

.attraction-card {
  display: flex;
  flex-direction: column;
  max-width: 25em;
  margin: 1em 1em 1em 1em;
  align-items: flex-start;
}

.card-body p {
  max-height: 7em;
  overflow: scroll;
}

.card-img {
  max-height: 10em;
  overflow: hidden;
  border-radius: 0;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.attraction-btn {
  background-color: $primary-color;
  color: $white-color;
  margin-right: 1em;
}
