@import './now-ui-kit/variables';
// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-card {
  min-width: 20em;
  max-height: 60em;
  overflow: scroll;
}

.card-image {
  max-height: 30em;
  min-width: 25em;
}

.card-image img {
  width: 25em;
  height: 18em;
}

.cities-carousel {
  border-radius: 0 !important;
}

h4.carousel-description {
  font-weight: 500 !important;
}

main {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.city-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  max-width: 25em;
  color: $white-color;
  padding-top: 8em;
  padding-left: 3em;
  padding-right: 3em;
}

.transit-button {
  background-color: $white-color;
  color: $primary-color;
}

.attractions-container {
  width: 100%;
}

.attractions-all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.attraction-hdr {
  display: flex;
  font-size: 3em;
  background-color: $primary-color;
  color: $white-color;
  padding: 0.3em 0 0.3em 2em;
  margin-bottom: 0.5em;
}

.attraction-card {
  display: flex;
  flex-direction: column;
  max-width: 25em;
  margin: 1em 1em 1em 1em;
  align-items: flex-start;
}

.card-img {
  max-height: 12em;
  overflow: hidden;
  border-radius: 0;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.attraction-btn {
  background-color: $primary-color;
  color: $white-color;
  margin-right: 1em;
}

.attraction-btn:hover {
  background-color: $primary-color !important;
  color: $white-color !important;
  box-shadow: none !important;
}

div#attraction-category-card.card {
  margin-top: -1.6em;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
