// Place all the styles related to the Itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.itinerary-image {
  height: 90%;
  overflow: hidden;
}

.itinerary-header-container {
  margin: 0 auto;
  width: 93%;
}

.add-itin-button {
  cursor: pointer;
}

a.del-button.btn {
  margin-left: -1.7em !important;
}

button.edit-button {
  margin-left: -1.7em !important;
}