@import './now-ui-kit/variables';
// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.trip-field {
  display: flex;
}

form.text-field {
  width: 30em;
  font-size: 2em;
}

.form-group label {
  font-size: 2em;
  font-weight: 600;
  color: $primary-color;
  margin-right: 1em;
}

.form-group {
  margin-bottom: 1.5em;
}