@import './now-ui-kit/variables';
// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main.new-trip-container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

nav.trip-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.trip-nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.trip-days {
  display: flex;
  justify-content: left;
}

.trip-more {
  display: flex;
  justify-content: right;
}

.trip-field {
  display: flex;
  margin-bottom: 1.5em;
}

form.text-field {
  width: 25em;
  font-size: 2em;
}

.trip-field label {
  font-size: 2em;
  font-weight: 600;
  width: 25%;
  height: 35px;
  color: $primary-color;
  margin-right: 1em;
}

body {
  margin-left: 3em;
}

.new-trip-form {
  margin-left: 20em;
  min-height: 35em;
}

.user-icon {
  font-size: 3em;
  color: $white-color;
  margin-top: 1.5em;
}

.user-pics img {
  max-height: 5em;
  max-width: 5em;
  border-radius: 10px;
  margin: 0.7em;
}

.trip-table {
  width: 50%;
}

a.edit-link:hover {
  text-decoration: underline !important;
  color: #fa7a50 !important;
  border: 0;
}

a.delete-link:hover {
  text-decoration: underline !important;
  color: #ff3636 !important;
  border: 0 !important;
}

.new-trip-button {
  font-size: 4em;
}

.invite-button {
  margin-top: -0.5em;
}

.trip-profile-pic {
  width: 6em;
  height: 6em;
  object-fit: cover;
  border-radius: 4em;
}

.profile-profile-pic {
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: 4em;
}