<footer class="footer">
  <div class="row justify-content-center">
    <nav>
      <div class="copyright">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script> DGN Media
      </div>
    </nav>
  </div>
</footer>
