<div id="attraction-category-card" class="card">
	<div class="card-header">
		<ul class="nav nav-tabs justify-content-center" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#all" role="tab">All</a>
			</li>
			<% @categories.each do |category| %>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#<%= category %>" role="tab"><%= category.capitalize %></a>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="card-body">

	<div class="tab-content text-center">

			<div class="tab-pane active" id="all" role="tabpanel">
				<div class="attractions-all-cards">
					<% @attractions.order(:name).each do |attraction| %>
						<%= render 'attractions/category_all', attraction: attraction %>
					<% end %>
				</div>
			</div>

			<% @categories.each do |category| %>
				<%= render 'attractions/category_specific', category: category %>
			<% end %>

		</div>

	</div>
</div>
