<!--Social Media Navigation Buttons -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="button-container">
          <button class="btn btn-primary btn-lg btn-icon btn-round"<%= @attraction.website %>>
            <i class="fas fa-globe"></i>
          </button>
          <button class="btn btn-icon btn-lg btn-twitter btn-round"<%= @attraction.twitter %>>
            <i class="fab fa-twitter"></i>
          </button>
          <button class="btn btn-icon btn-lg btn-facebook btn-round"<%= @attraction.facebook %>>
            <i class="fab fa-facebook-f"></i>
          </button>
          <button class="btn btn-icon btn-lg btn-google btn-round"<%= @attraction.twitter %>>
            <i class="fab fa-instagram"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
