<div class="blog-post">
  <div class="wrapper">

    <%= render 'attractioncarousel' %>

    <div class="section">

      <%= render 'socialmediabuttons' %>

      <%=render 'mainbody' %>

    </div>

  </div>
</div>
